@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

hr {
    margin: 2rem 1rem;
}

:root {
    --primary-color: #4f46e5;
}

/* container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;   
}

.link-secondary {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color)
}

/* lists */

.list-none-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0.5rem 1rem;
}

/* nav */

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
    color: white;
}

.nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}